DISCORD_TOKEN=your_discord_bot_token
DISCORD_GUILD_ID=1333922279498711060
GITHUB_TOKEN=your_github_token
GITHUB_UPDATE_BASE_RAW_URL=https://raw.githubusercontent.com/<user>/<repo>/main
GITHUB_UPDATE_REPO=xxloonaxx/Discord-Plugin-Bot
GITHUB_UPDATE_BRANCH=main
LOG_CHANNEL_ID=0
VRCHAT_API_BASE_URL=https://api.vrchat.cloud/api/1
VRCHAT_USER_AGENT=DiscordPluginBot/1.0 (contact: you@example.com)
VRCHAT_GROUP_ID=grp_998c5578-c65c-4d20-b1e5-70cf3a724f32
VRCHAT_GROUP_MAIN_ID=grp_998c5578-c65c-4d20-b1e5-70cf3a724f32
VRCHAT_GROUP_AFTERDARK_ID=grp_d9a755a3-92aa-40b8-81ee-e8f98aec2589
VRCHAT_AUDIT_LOG_CHANNEL_ID=0
VRCHAT_INVITE_CHANNEL_ID=0
VRCHAT_STAFF_ROLE_IDS=1484342349633945711
NSFW_SERVER_ID=1489273748459749422
NSFW_BANROOM_ID=1489276271300186355
MOD_LOG_CHANNEL_NSFW=1489439379469369535
MOD_LOG_CHANNEL_SFW=1333922290332733489
