DISCORD_TOKEN=your_discord_bot_token
DISCORD_GUILD_ID=1333922279498711060
GITHUB_TOKEN=your_github_token
GITHUB_UPDATE_BASE_RAW_URL=https://raw.githubusercontent.com/<user>/<repo>/main
GITHUB_UPDATE_REPO=xxloonaxx/Discord-Plugin-Bot
GITHUB_UPDATE_BRANCH=main
LOG_CHANNEL_ID=0
